mainmenu "Simple example to demo kconfig select broken dependency issue"

menuconfig MODULES
	bool "Enable loadable module support"
	option modules
	default y

config A
	tristate "CONFIG A"

config B
	tristate "CONFIG B"
	depends on A

choice
	prompt "CHOICE_1"
	depends on A && B

config D
	tristate "CONFIG D"

config E
	tristate "CONFIG E"

config F
	tristate "CONFIG F"

config G
	tristate "CONFIG G"

endchoice
