menuconfig MODULES
        bool "Enable loadable module support"
        option modules
	default y

config A
	bool "A"
#	select B

config B
	bool "B"
	depends on C

config C
	bool "C"

config D
	bool "D"
	depends on A
	#select B if E
	select F

config E
	bool "E"

config F
	bool "F"
	depends on C
