mainmenu "Kconfig"

config A
	tristate "Config A"
	select C

config B
	bool "Config B"

config C
	tristate "Config C"

config D
	bool "Config D"

config E
	bool "Config E"

config F
	bool "Config F"

config G
	bool "Config G"
