mainmenu "Kconfig"

config A
	bool "Config A"
	depends on (B || C) && (D || E) && (F || G)

config B
	bool "Config B"

config C
	bool "Config C"

config D
	bool "Config D"

config E
	bool "Config E"

config F
	bool "Config F"

config G
	bool "Config G"
