# Kconfig example 2

mainmenu "Kconfig example 2 - simple selects"

config A
	bool "CONFIG A"
	default y if B || C

config B
	bool "CONFIG B"
	default n

config C
	bool "CONFIG C"
	imply B

config D
	bool "CONFIG D"
	select E if A && B || !C

config E
	bool "CONFIG E"
