menuconfig MODULES
	bool "Enable loadable module support"
	option modules
	default y

#choice
#	bool
#	prompt "1"
#	depends on E

config A
	bool "A"

config B
	bool "B"
	depends on D

config C
	bool "C"
#	depends on A
	#default y

#endchoice

config D
	bool "D"
	depends on E && F

config E
	bool "E"
	#depends on D
	#depends on m && F

config F
	bool "F"
#	select D

config S
	int "S"
	default 16
