# Kconfig example 1
mainmenu "Kconfig"

menuconfig MODULES
        bool "Enable loadable module support"
        option modules
        default y

config A
    tristate "Config A"
    #depends on D || (E && F)

config B
    tristate "Config B"
    #depends on C && D && E && F && H


config C
    bool "Config C"
    #depends on C && D && E && F && H

config D
    bool "Config D"
    depends on C || B

config E
    tristate "Config E"

config X
    tristate "Config X"
    #depends on !A
    #depends on C || (A && B && D)
    #depends on (A && B) || (C && D)
    #depends on !A && B!=m
